extends layout

block content
    script(src="./javascripts/phaser.min.js")
    script(src="./javascripts/mainMenu.js")
    script(src="./javascripts/demo.js")
    script(src="./javascripts/app.js")


